extends layout

block content
  h1= title
  include nav
  p Welcome to #{title}
  ul.messages-container
    each message in messages
      li
        .name= message.user
        .text= message.text
        .date= message.added


